/* notification animation */
@keyframes show-toast {
  0% {
    bottom: -100%;
  }
  20% {
    bottom: 50px;
  }
  80% {
    bottom: 50px;
  }
  100% {
    bottom: -100%;
  }
}

.notification.is-toast {
  position: fixed;
  bottom: 100%;
  right: 20px;
  animation-name: show-toast;
  animation-duration: 4s;
}

.menu-list a:hover {
  background-color: transparent;
}

.media-content {
  overflow: visible;
}

/* higlight hovered star + all stars that follow it */
.rating-field label:hover,
.rating-field label:hover ~ label,
.rating-field label input:checked ~ .icon .fa-star {
  color: #f14668;
  transition: color 200ms ease-out;
}

/* reverse star directions */
.rating-field {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
