<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.1/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <title>Golden Shoe |{% block title %}{% endblock %}</title>
</head>

<body class="has-navbar-fixed-top">
    <!---------------------  Header and navbar  ---------------------->
    <header class="header">
        <nav class="navbar is-spaced is-transparent is-fixed-top has-shadow" role="navigation" aria-label="main navigation">

            <!---------------------  navbar company logo  --------------------->
            <div class="navbar-brand">
                <a class="navbar-item is-size-3">Golden
                    Shoe</a>

                <!-- TODO onclick add is-active class to burger -->
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <!-- TODO onclick burger menu toggle is-active class -->
            <div class="navbar-menu" id="main-navbar">
                <div class="navbar-start">
                    <a class="navbar-item">
                        Home
                    </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link is-arrowless">
                            Products
                        </a>
                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item">
                                All
                            </a>
                            <a class="navbar-item">
                                Women's Shoes
                            </a>
                            <a class="navbar-item">
                                Men's Shoes
                            </a>
                        </div>
                    </div>

                    {% if "user" in session %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link is-arrowless">
                            My account
                        </a>
                        <div class="navbar-dropdown is-boxed">
                            <div class="navbar-item">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span>{{ session['user']['full_name'] }}</span>
                                    <p>
                                        <a class="has-text-dark">View your
                                            profile</a>
                                    </p>
                                </span>
                            </div>
                            <div class="navbar-item">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-clipboard"></i>
                                    </span>
                                    <span>
                                        <a class="has-text-dark">Purchases and
                                            reviews</a>
                                    </span>
                                </span>
                            </div>
                            <div class="navbar-item">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-cog"></i>
                                    </span>
                                    <span>
                                        <a class="has-text-dark">Account settings</a>
                                    </span>
                                </span>
                            </div>
                            <div class="navbar-item">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-sign-out-alt"></i>
                                    </span>
                                    <span>
                                        <a class="has-text-dark" href="{{ url_for('logout') }}">Sign out</a>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <a class="navbar-item">
                        About
                    </a>

                    <a class="navbar-item">
                        Contact
                    </a>
                </div>

                <div class="navbar-end">
                    {% if "user" in session %}
                        <a class="has-text-dark has-text-weight-semibold navbar-item" href="{{ url_for('logout') }}">Sign out</a>
                    {% else %}
                        <a id="sign_in" class="has-text-dark has-text-weight-semibold navbar-item">Sign in</a>
                    {% endif %}

                    <!---------------------  navbar cart   --------------------->
                    <a class="has-text-dark has-text-weight-semibold navbar-item" href="{{ url_for('view_cart') }}">
                        {% if 'cart' in session and session['cart']|length > 0 %}
                            <i class="fas fa-cart-plus"></i>
                        {% else %}
                            <i class="fas fa-shopping-cart"></i>
                        {% endif %}
                    </a>
                </div>
            </div>
        </nav>

    </header>

    <!---------------------  modal sign in form   --------------------->
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content has-background-white py-5 px-5">
            <h2 class="subtitle has-text-weight-semibold">Sign in</h2>

            <form method="post" action="{{ url_for('login') }}">
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input" type="text" name="username" placeholder="e.g. alex@example.com" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="text" name="password" placeholder="********" required>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input type="submit" class="button is-medium is-fullwidth is-dark" value="Sign in">
                    </div>
                </div>
            </form>
            <hr>
            <p>
                <a>Don't have an account yet?</a>
            </p>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <!----------------  flashed messages and notifications  ---------------->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, msg in messages %}
                <div class="notification is-{{category}} is-toast">{{msg}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!---------  extends to other html pages from here  ------------>
    {% block content %}{% endblock %}

    <!---------------------  footer menu  --------------------->
    <div class="section has-background-dark">
        <div class="columns">
            <div class="column menu">
                <p class="menu-label has-text-white">About</p>
                <ul class="menu-list">
                    <li><a class="has-text-white">About Us</a></li>
                    <li><a class="has-text-white">Contact Us</a></li>
                    <li><a class="has-text-white">Privacy Policy</a></li>
                    <li><a class="has-text-white">Cookie Policy</a></li>
                </ul>
            </div>
            <div class="column menu">
                <p class="menu-label has-text-white">Support</p>
                <ul class="menu-list">
                    <li><a class="has-text-white">Shipping Information</a></li>
                    <li><a class="has-text-white">Exchanges & Returns</a></li>
                    <li><a class="has-text-white">Terms & Conditions</a></li>
                    <li><a class="has-text-white">FAQ's</a></li>
                </ul>
            </div>
            <div class="column menu">
                <p class="menu-label has-text-white">Keep in touch!</p>
                <p class="has-text-white block">
                    Subscribe to our newsletter and be the first to know 
                    about new arrivals and sales right in your inbox!
                </p>
                <div class="field has-addons">
                    <p class="control has-icons-left">
                        <input class="input" type="email" placeholder="Email">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </p>
                    <button class="button is-danger is-selected">Subscribe</button>
                </div>
                <!---------------------  Social icons   --------------------->
                <span class="icon is-medium has-text-white">
                    <i class="fab fa-instagram"></i>
                </span>
                <span class="icon is-medium has-text-white">
                    <i class="fab fa-facebook-square"></i>
                </span>
                <span class="icon is-medium has-text-white">
                    <i class="fab fa-twitter"></i>
                </span>
            </div>
        </div>
    </div>

    <!---------------------  page footer   --------------------->
    <footer class="footer has-background-black">
        <p class="has-text-white">
            &copy2022 Golden Shoe. All Rights Reserved
        </p>
    </footer>

    <!-----------------  scripts for modal sign in   ----------------->
    <script>
        const signInButton = document.querySelector('#sign_in');
        const modalBg = document.querySelector('.modal-background');
        const modal = document.querySelector('.modal');
        const modalButton = document.querySelector('.modal-close');

        signInButton.addEventListener('click', () => {
            modal.classList.add('is-active');
        });
        modalBg.addEventListener('click', () => {
            modal.classList.remove('is-active');
        });
        modalButton.addEventListener('click', () => {
            modal.classList.remove('is-active');
        });
    </script>
</body>

</html>