<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.1/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <title>Golden Shoe |{% block title %}{% endblock %}</title>
</head>

<body class="has-navbar-fixed-top">
    {% include 'header.html' %}
    {% include 'login_modal.html' %}
    {% include 'message.html' %}

    <!---------  extends to other html pages from here  ------------>
    {% block content %}{% endblock %}

    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/loginModal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/burgerMenu.js') }}"></script>
    <script src="https://unpkg.com/vue@3"></script>
    {% block script %}{% endblock %}
</body>

</html>