{% extends "base.html" %}
{% block title %} Sign In {% endblock %}

{% block content %}
<section class="section is-large">
    <div class="container is-max-desktop">

        <h2 class="title has-text-centered">Sign In</h2>

        <form action="{{ url_for('login') }}" method="post" class="box">
            <!---------------------  Username   --------------------->
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    <input id="username" class="input" type="text" name="username" placeholder="e.g. alex@example.com" required>
                </div>
            </div>

            <!---------------------  Password   --------------------->
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input id="password" class="input" type="text" name="password" placeholder="********" required>
                </div>
            </div>

            <!---------------------  Sign in button   --------------------->
            <div class="field">
                <div class="control">
                    <input type="submit" class="button is-dark is-fullwidth is-medium" value="Sign in">
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}