{% extends "base.html" %}
{% block title %} {{ product.title }} {% endblock %}

{% block content %}
<section class="section is-medium">
    <div class="container is-max-desktop">
        <div class="columns">
            <!---------------------  Product images  -------------------->
            <div class="column">
                {% if images %}
                <figure class="image is-1by1 is-hidden-mobile">
                    <img src="{{ images[0] }}" alt="product thumbnail">
                </figure>
                <br>
                <div class="columns">
                    {% for image in images %}
                    <div class="column">
                        <figure class="image is-square">
                            <img src="{{ image }}" alt="product thumbnail">
                        </figure>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <figure class="image is-1by1">
                    <img src="http://cdn.shopify.com/s/files/1/0169/2660/5412/collections/placeholder-images-collection-1_large_807560ab-9024-46ea-ab0a-bb49df2b3bb8_1200x1200.png?v=1551259616"
                        alt="product image placeholder">
                </figure>
                {% endif %}
            </div>

            <!---------------------  product info   --------------------->
            <div class="column px-6">
                <div class="block">
                    <h1 class="title has-text-weight-light my-3">{{ product.title }}</h1>
                    <h2 class="title has-text-weight-bold my-3 is-size-4">{{
                        "$%.2f"|format(default_product.price_in_cents/100) }}
                    </h2>

                    <!------------------  add to cart button   ------------------>
                    <form method="post" action="{{ url_for('product_page', product_id=product.prod_id) }}">

                        {% if colours %}
                        <div class="block">
                            <p class="has-text-weight-semibold mb-1">
                                Colour: {{ default_product.colour.colour_value }}
                            </p>
                            <div class="field">
                                <div class="control">
                                    {% for colour in colours %}
                                    <label class="radio">
                                        <input class="is-hidden colour-radio" type="radio" name="colour"
                                            value="{{ colour }}">
                                        <span class="icon is-medium">
                                            <i class="fas fa-solid fa-square fa-border"
                                                style="color: {{ colour }};"></i>
                                        </span>
                                    </label>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if sizes %}
                        <div class="block">
                            <p class="has-text-weight-semibold mb-1">
                                Size: {{ default_product.size.size_value }}
                            </p>
                            <div class="field">
                                <div class="control">
                                    {% for size in sizes %}
                                    <label class="radio">
                                        <input class="is-hidden size-radio" type="radio" name="size" value="{{ size }}">
                                        <span class="tag">
                                            {{ size }}
                                        </span>
                                    </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <button class="button is-white p-0">Size Guide</button>
                        </div>
                        {% endif %}

                        <div class="field is-grouped">
                            <div class="control">
                                <input type="number" name="quantity" value="1" class="input has-text-centered" min="1"
                                    max="{{ default_product.qty }}">
                            </div>
                            <div class="control">
                                <input type="submit" class="button is-danger" value="Add to cart">
                            </div>
                        </div>
                    </form>
                </div>

                <br>

                <!------------------  extra prod info   ------------------>
                <div class="block">
                    <h2 class="has-text-weight-semibold mb-3">Description</h2>
                    <p>{{ product.description }}</p>
                </div>

                <div class="block">
                    <h2 class="has-text-weight-semibold mb-3">Shipping</h2>
                    <p>Please allow 2 - 4 weeks for delivery due to possible delays related to your country's covid
                        regulations</p>
                </div>
            </div>
        </div>

        <hr>
        {% include 'reviews.html' %}
    </div>
</section>
{% endblock %}